.team_content {
  .header {
    margin-top: 30px;
  }

  .people {
    margin-bottom: 80px;
  }
}

.people {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
  flex-wrap: wrap;
}

.team_person {
  margin-right: 40px;
  margin-bottom: 60px;
  img.person_image {
    object-fit: cover;
    object-position: center;
    width: 250px;
    height: 250px;
  }

  .person_text {
    padding-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    .name {
      font-weight: bold;
      color: $yellow;
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 4px;
    }

    .role {
      font-size: 14px;
      line-height: 14px;
      text-transform: uppercase;
    }

    .links {
      margin-top: 20px;
      display: flex;
      width: 100%;
      justify-content: flex-start;

      a {
        font-weight: bold;
        text-decoration: underline;
      }

      svg {
        width: 20px;
        height: 20px;
        fill: white;
      }

      & > * {
        margin-right: 10px;
      }
    }
  }
}
