.home-container {
  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $background;
    color: $white;
    height: calc(100vh - 80px);
    z-index: 1;
  }
  .content {
    .lib_col {
      align-items: center;

      & > * {
        margin: 0 0 28px 0;
      }
    }

    img {
      height: 60px;
    }

    @include md {
      position: absolute;
      bottom: 100px;
      z-index: 2;
      left: 139px;

      .lib_col {
        align-items: flex-start;
        img {
          height: 68px;
        }

        h3 {
          letter-spacing: 4px;
        }

        .lib_pill {
          background: $white;
          color: $background;
          letter-spacing: 3px;
        }
      }
    }
  }

  .ellipse-container {
    position: relative;
    z-index: 1;
  }

  .what-is-container {
    background-color: $white;
    z-index: 2;
    position: relative;

    a {
      text-decoration: underline;
    }
  }

  .footer-container {
    img {
      &.logo {
        width: 156px;
        margin-bottom: 36px;
      }
      width: 33px;
    }

    a {
      text-decoration: underline;
    }

    h5 {
      margin-bottom: 25px;
    }

    .icons-row {
      width: 200px;
      margin-bottom: 24px;
    }
  }
}
