.navbar {
  padding: 20px;
  height: 80px;
  width: 100%;
  background: $background;
  color: $white;
  position: fixed;
  top: 0;
  z-index: 99;
  letter-spacing: 3px;

  img {
    height: 19px;
  }

  a {
    text-decoration: inherit;
  }

  .link-item {
    margin-left: 10px;
  }

  @include md {
    padding: 20px 140px;

    .link-item {
      margin-left: 56px;
    }
  }
}
