.navbar-container {
  height: 80px;
  width: 100%;
  display: none;

  .navbar {
    padding: 20px;
    height: 80px;
    width: 100%;
    background: $background;
    color: $white;
    position: fixed;
    top: 0;
    z-index: 99;
    letter-spacing: 3px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

    img {
      height: 19px;
    }

    a {
      text-decoration: inherit;
    }

    .link-item {
      margin-left: 10px;
    }

    @include md {
      padding: 20px 140px;

      .link-item {
        margin-left: 56px;
      }
    }
  }

  @include md {
    display: block;
  }
}
