.projects_panel {
  border-bottom: 1px solid $white;
  display: flex;
  flex-flow: column;
  align-items: center;

  .project_image {
    padding: 20px;

    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
      max-width: 300px;
    }

    @include md {
      flex: 1;
    }
  }

  .projects_text {
    margin: 20px 0;
    text-align: justify;
    white-space: pre-line;

    h1 {
      color: $yellow;
      text-align: center;

      @include md {
        text-align: left;
      }
    }

    @include md {
      flex: 2;
      margin: auto;
      margin-left: 20px;
      padding: 20px;
    }

    &:nth-of-type(2n) {
      margin: auto;
      margin-right: 20px;
    }
  }

  @include md {
    flex-flow: row;
    border-bottom: none;

    &:nth-of-type(2n) {
      flex-flow: row-reverse;
    }
  }
}
