.projects_panel {
  padding: 10px;
  border-bottom: 1px solid $white;
  display: flex;
  flex-flow: column;
  align-items: center;

  .project_image {
    background-color: $white;
    margin: auto;
    text-align: center;
    width: 100%;
    border: 30px solid $white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &:before {
      content:'';
      padding:50% 0;/* vertical value as  100% equals width */
      display:inline-block;
      vertical-align:middle;
    }

    img {
      max-height: 100%;
      max-width: 100%;
    }

    @include md {
      flex: 1;
    }
  }

  .projects_text {
    margin: 20px 0;
    white-space: pre-line;

    h1 {
      color: $yellow;
      text-align: center;

      @include md {
        text-align: left;
      }
    }

    @include md {
      flex: 2;
      margin: auto;
      margin-left: 20px;
      padding: 20px;

      &:nth-of-type(2n) {
        margin: auto;
        margin-right: 20px;
      }
    }
  }

  @include md {
    flex-flow: row;
    border-bottom: none;

    &:nth-of-type(2n) {
      flex-flow: row-reverse;
    }
  }
}
